Repository philipcristiano/distribution, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/auth, area/build, area/cache, area/ci, area/config, area/docs, area/proxy, area/storage, area/storage/azure, area/storage/gcs, area/storage/s3, dependencies

.github/labeler.yml:

area/api:
  - registry/api
  - registry/handlers
area/auth:
  - registry/auth
area/build:
  - Makefile
  - Dockerfile
  - docker-bake.hcl
  - dockerfiles/**/*
area/cache:
  - registry/storage/cache
area/ci:
  - .github/**/*
  - tests
  - testutil
area/config:
  - configuration
area/docs:
  - README.md
  - docs/**/*.md
area/proxy:
  - registry/proxy
area/storage:
  - registry/storage
area/storage/azure:
  - registry/storage/azure
area/storage/gcs:
  - registry/storage/gcs
area/storage/s3:
  - registry/storage/s3-aws
dependencies:
  - vendor/**/*
  - go.mod
  - go.sum

Do not write manifests on HEAD requests
  registry/handlers/api_test.go
  registry/handlers/manifests.go
Labels: none

feat: Add HTTP2 for unencrypted HTTP
  configuration/configuration.go
  configuration/configuration_test.go
  docs/content/about/configuration.md
  go.mod
  go.sum
  registry/registry.go
  vendor/golang.org/x/crypto/internal/poly1305/bits_compat.go
  vendor/golang.org/x/crypto/internal/poly1305/bits_go1.13.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_generic.go
  vendor/golang.org/x/net/http2/h2c/h2c.go
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_386.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_mips64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_ppc64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_riscv64.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Labels: area/docs, dependencies

refactor(storage/s3): remove redundant len check
  registry/storage/driver/s3-aws/s3.go
Labels: none

Adding @readerx test cases to validate support for manifest list distribution#3178
  registry/storage/garbagecollect_test.go
Labels: none

Update notifications.md
  docs/content/about/notifications.md
Labels: area/docs

Prevent cycles while walking manifest references
  registry/storage/garbagecollect.go
Labels: none

fix: typo
  internal/client/auth/challenge/authchallenge.go
  internal/client/auth/session.go
Labels: none

Fix garbage-collect with OCI manifest index distribution#3178
  registry/storage/garbagecollect.go
  registry/storage/garbagecollect_test.go
  testutil/manifests.go
Labels: none

Add a trademarks and docs license link
  docs/hugo.yaml
  docs/i18n/en.yaml
Labels: none

Added Open Telemetry Tracing to Filesystem package
  go.mod
  registry/storage/driver/base/base.go
  tracing/exporter.go
  tracing/exporter_test.go
  tracing/tracing.go
Labels: dependencies

chore: Use github repo name instead of hardcoding
  .github/workflows/build.yml
Labels: area/ci
